*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(240, 240, 240);
}

header{
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8em;
}

.nav-list a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.nav-list a:hover{
    color: rgb(240, 240, 240);
    background-color: rgb(30, 30, 30);
    padding: 5px 10px;
    border-radius: 5px;
}

.home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0;
}

.home-text h1{
    font-size: 6em;
    color: rgb(30, 30, 30);
    padding: 10px 0;
    line-height: 1.5;
}

.home-text h2{
    font-size: 2em;
    color: rgb(120, 120, 120);
    padding: 10px 0;
}

.home-text p{
    font-size: 1.5em;
    color: rgb(30, 30, 30);
    background-color: rgb(210, 210, 210);
    padding: 10px;
    border-radius: 20px;
    max-width: 400px;
    
}

.highlight{
    background-color: rgb(252, 255, 75);
    padding: 20px;
    border-radius: 100px;
}

.home-image img{
    width: 500px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}